{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["frontend/**/*.{ts,tsx,js,jsx}"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
